// Customizations Here (Optional)

// Bulma Import
$footer-padding: 0em;
$navbar-item-hover-color: #000;
$navbar-item-color: #000;
$navbar-item-hover-background-color: #fff;
$footer-background-color: #3e8ed0;
$navbar-padding-horizontal: 4em;
$navbar-background-color: #3e8ed0;
$button-hover-color: #fff;
$button-active-color: #fff;
$button-focus-color: #fff;
$primary: #000;
$danger: #b22222;
$light: #fff;
$info: #3e8ed0;
$box-shadow: 0 0.5em 1em -0.125em #3e8ed0, 0 0px 0 1px #3e8ed0;
@import "~bulma";

.logo {
  height: 50px;
  width: auto;
}

.logo-text {
  height: 50px;
  width: auto;
}

footer {
  a {
    color: white;
  }
}

.navbar {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 4em;
  padding-left: 4em;
}

.navbar-item img {
  max-height: unset;
}

#github-logo {
  height: 30px;
  width: auto;
}

.container {
    margin-top: 2em;
}

.button.is-loading::after, .loader, .select.is-loading::after, .control.is-loading::after {
    border-left-color: #3e8ed0;
    border-bottom-color: #3e8ed0;
    height: 5em;
    position: relative;
    width: 5em;
    display: inline-block;
    margin-bottom: 5em;
}

.v-spinner {
    margin-bottom: 5em;
}